/* for global animation */

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}

.index .brand--top {
  animation: fadein .5s, slideDown .5s;
}

.index .main {
  animation: slideUp 1s;
}

.btn--a {
  transition: all .3s;
}

.answer-link {
  transition: all .5s;
}
