/* for global animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.index .brand--top {
  animation: fadeIn .5s, slideDown .5s;
}

.index .main {
  animation: slideUp 1s;
}

.btn--a {
  transition: all .3s;
}

.answer-link {
  transition: all .5s;
}

.answer-link.is-selected {
  transform: scale(1.025);
  transition: scale .3s;
}

.character {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn .5s forwards, tada 1s;
}

.character-description {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn 1s .5s forwards;
}

.share {
  animation: zoomIn .2s 1s both;
}

.brand--bottom {
  transition: all .5s;
}