/* for global animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes zoomIn {

}

.index .brand--top {
  animation: fadeIn .5s, slideDown .5s;
}

.index .main {
  animation: slideUp 1s;
}

.btn--a {
  transition: all .3s;
}

.answer-link {
  transition: all .5s;
}

.answer-link.is-selected {
  transform: scale(1.025);
  transition: scale .3s;
}

.character {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn .5s forwards;
}

.character-description {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn .5s .5s forwards;
}

.share {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn .2s 1s forwards;
}